body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
	padding: 20px 0;
}

header .row{
	display: flex;
	align-items: center;
}


header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}


footer {
	font-size: 12px;
	padding: 20px 0;
}

footer .col-sm-12 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}